a {
  color: #570457 !important;
  text-decoration: none !important;
}

.btn-quiz {
  color: #fff !important;
  background-color: #570457 !important;
}

#timer {
  text-align: right !important;
}

#timesUp {
  text-align: right !important;
}